:root{
    --cor-tema: #58A6FF;
    --tamanho-grade-tabuleiro: 3px;
}

body{
    background-color: #06090F;
    color: white;
}

.no-padding{padding: 0px !important;}

/* PLACAR */
.placar{
    margin-bottom: 40px;
}
.placar .col{padding: 0px 15px 0px 15px;}
.placar .jogador{
    width: 100%;
    height: 100%;
    border: 1px solid #30363D;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.placar .jogador .pontos{color: #aaaaaa; text-align: right;}
@media(max-width: 768px){
    .placar .jogador{text-align: center;}
    .placar .jogador .pontos{text-align: center;}
}

.placar .jogador.jogador-x{float:right;}
.placar .jogador.jogador-o{float:left;}

.ativo{transition: .5s;}

.placar .jogador.ativo{border: 1px solid var(--cor-tema); background-color: #0D1117;}
/* fim - PLACAR */

.row-jogo{
    height: 100vh;
    background-size: cover;
}
.tabuleiro{
    max-width: 270px;
    text-align: center;
    margin: auto;
}
.tabuleiro .col-4{padding: 0px;}

.casa{
    border-radius: 0px;
    background-color: transparent;
    width: 100%;
    height: 90px;
    border: 10px solid #06090F;
    box-shadow: none !important;
    font-size: 40px;
    transition: 0.2s;
    color: var(--cor-tema) !important;
    border-radius: 60px;
}
.casa:hover{background-color: #0D1117;}
.casa:active{font-size: 20px;transition: 0.1s;}

/* baixo estilos responsaveis pelas bordas das casas */
.div-btn-0{border-bottom:var(--tamanho-grade-tabuleiro) solid var(--cor-tema);}
.div-btn-1{border-left:var(--tamanho-grade-tabuleiro) solid var(--cor-tema);border-bottom:var(--tamanho-grade-tabuleiro) solid var(--cor-tema);}
.div-btn-2{border-bottom:var(--tamanho-grade-tabuleiro) solid var(--cor-tema);border-left:var(--tamanho-grade-tabuleiro) solid var(--cor-tema);}
.div-btn-3{border-bottom:var(--tamanho-grade-tabuleiro) solid var(--cor-tema);}
.div-btn-4{border-left:var(--tamanho-grade-tabuleiro) solid var(--cor-tema);border-bottom:var(--tamanho-grade-tabuleiro) solid var(--cor-tema);}
.div-btn-5{border-bottom:var(--tamanho-grade-tabuleiro) solid var(--cor-tema);border-left:var(--tamanho-grade-tabuleiro) solid var(--cor-tema);}
.div-btn-7{border-left:var(--tamanho-grade-tabuleiro) solid var(--cor-tema);}
.div-btn-8{border-left:var(--tamanho-grade-tabuleiro) solid var(--cor-tema);}

.btn-changeJogadorAtivo{
    background-color: #0D1117;
    color: var(--cor-tema) !important;
    border-radius: 50px;
    border: 1px solid #30363d;
    box-shadow: none !important;
}
.btn-changeJogadorAtivo:hover{border: 1px solid var(--cor-tema);}
.btn-changeJogadorAtivo.block{
    color: #30363d !important;
    border: 1px solid #30363d !important;
    cursor: not-allowed !important;
    opacity: .7;
}

.btn-padrao{
    border: 1px solid #30363d;
    color: var(--cor-tema) !important;
    width: 100%;
    box-shadow: none !important;
    background-color: #21262D;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-padrao:hover{border: 1px solid var(--cor-tema);cursor: pointer;}
.btn-padrao.block{
    color: #4e555e !important;
    border: 1px solid #30363d !important;
    cursor: not-allowed !important;
}
.btn-padrao.apagado{color: #495057 !important;}
.btn-padrao.apagado:hover{color: var(--cor-tema) !important;}

.div-padrao{
    background-color: #0D1117;
    border: 1px solid #30363D;
    padding: 30px 50px;
    border-radius: 6px;
}

.dropdown-menu{
    background-color: #21262D;
    border: 1px solid #30363d;
}
.dropdown-menu a{color: #C9D1D9 !important;transition: .1s;}
.dropdown-menu a:hover{background-color: var(--cor-tema);}

.modal .modal-content{
    background-color: #0D1117;
    border: 1px solid #30363D;
    color: #dad8d8;
}
.modal .modal-header{border-bottom: 1px solid #30363D;}
.modal .modal-footer{border-top: 1px solid #30363D;}

.modal-center {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.modal-center.show {
    -webkit-transform: scale(1);
            transform: scale(1);
}
  
.modal-center .modal-dialog {
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%) !important;
            transform: translate(-50%, 50%) !important;
}

.modal-backdrop.fade.show{
    opacity: 0.9;
    background-color: black;
}
.modal#modal-msgFimJogo .modal-content{
    background-color: transparent;
    border: none;
    text-align: center;
}
.modal#modal-msgFimJogo .mensagem{
    color: var(--cor-tema);
    font-size: 80px;
}